.letter-container {
    background-color: #d3d3d3;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    font-size: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.word-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 10px;
}
  