@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#correct {
  background-color: #365314;
}

#almost {
  background-color: #ca8a04;
}

#error {
  background-color: #4b5563;
}
